* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: white;

}

.id_bloco_fundo_login {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(
        90deg, 
        rgba(168, 168, 168, 0.7),
        rgba(112, 112, 112, 0.7)   
      );
}

#id_label_login {
    margin: 0 auto;
    display: block;
    text-align: left;
    width: 80%;
    font-size: 1.0em;
    color: #000000;
    font-weight: 900;
}

.bloco_login {
    display: block;
    position: absolute;
    min-width: 180px;
    margin: 0 auto;
    z-index: 100000;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    padding: 20px 20px;
    transform: translate;
    transform: translate(-50%, -50%);
    border: 4px solid #ffffff00;
    border-radius: 20px;
}


.bloco_login input {
    width: 80%;
    padding: 2px;
    margin: 30px auto;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #727272;
    outline: none;
    box-sizing: border-box;
    font-size: 1.0em;
    color: black;
    font-weight: 500;
}
.bloco_login input::placeholder {
    color: black;
    opacity: 1;
}

#id_img_logoLogin {
    width: 100%;
    height: auto;
    margin: 20px auto;
}


#btn_logar {
    display: block;
    position: relative;
    width: 130px;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    font-size: 0.9em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #ffee0a;
    box-shadow: 2px 2px 2px rgb(71, 71, 71);
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

#btn_logar:hover {
    box-shadow: 1px 1px 1px rgb(71, 71, 71);
    background-color: #beb207;
}


#acesso {
    color: red;
    display: none;
    font-size: 1em;
    font-weight: 900;
    background-color: transparent;
    margin: 10px auto;
    text-align: center;
}
#fora {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2em;
    color: red;
    top: 50%;
    left: 50%;
    z-index: 100000000000000;
    background-color: rgb(216, 216, 216);
    transform: translate(-50%, -50%);
}


#bloco_principal_menu {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 99%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 10px;
    margin: 5px auto;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.397);
}

#bloco_usuario {
    display: flex;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border: none;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 1px rgb(64 60 67 / 16%);
}

#bloco_usuario_logo {
    display: block;
    width: fit-content;
    background-color: none;
}
#bloco_usuario_logo img{
    height: 25px;
    width: auto;
    border-radius: 10px;
}

#bloco_usuario_titulo {
    display: block;
    width: fit-content;
    background-color: none;
}

#bloco_usuario_titulo h1{
    display: block;
    color: #000000;
    font-weight: 900;
    width: auto;
    height: auto;
    border: none;
    font-size: 0.9em;
    font-weight: 600;
    border-radius: 20px;
    padding: 3px 10px;
    margin: 2px 5px;
    background-color: none;
}

#bloco_usuario_menu {
    display: flex;
    width: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: none;
}


.bt_opcoes_usuario {
    position: relative;
    display: block;
    border-radius: 10px;
    padding: 3px 10px;
    margin: 2px 5px;
    cursor: pointer;
    width: auto;
    height: auto;
    color: #fff;
    border: none;
    font-size: 0.9em;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgb(71, 71, 71);
}

.bt_opcoes_usuario:hover {
    box-shadow: 1px 1px 1px rgb(71, 71, 71);
}

#sair {
    background-color: rgb(255, 58, 58);
}

#sair:hover {
    background-color: rgb(192, 53, 53);
}

#pagina_listaCorte {
    background-color: #007fd3;
}

#pagina_listaCorte:hover {
    background-color: #04619e;
}

.tox-tbtn__select-label {
    font-size: 0.8em;
}


#editor {

    height: 100vh;
}

#salvoMensagem {
    display: none; 
    position: fixed;
    top: 40%; 
    left: 50%; 
    background-color: green; 
    color: white; 
    padding: 10px; 
    border-radius: 5px;
    font-size: 0.65em;
    transform: translate(-50%,-50%);

}


#id_a_abrirPlanilha {
    display: block;
    position: absolute;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

#id_a_abrirPlanilha:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#id_a_abrirPlanilha:active {
    background-color: #004494;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}