* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }

body {
    background: white;

}

.id_bloco_fundo_login {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(
        90deg, 
        rgba(168, 168, 168, 0.7),
        rgba(112, 112, 112, 0.7)   
      );
}

#id_label_login {
    margin: 0 auto;
    display: block;
    text-align: left;
    width: 80%;
    font-size: 1.0em;
    color: #000000;
    font-weight: 900;
}

.bloco_login {
    display: block;
    position: absolute;
    min-width: 180px;
    margin: 0 auto;
    z-index: 100000;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    padding: 20px 20px;
    transform: translate;
    transform: translate(-50%, -50%);
    border: 4px solid #ffffff00;
    border-radius: 20px;
}


.bloco_login input {
    width: 80%;
    padding: 2px;
    margin: 30px auto;
    display: block;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #727272;
    outline: none;
    box-sizing: border-box;
    font-size: 1.0em;
    color: black;
    font-weight: 500;
}
.bloco_login input::placeholder {
    color: black;
    opacity: 1;
}

#id_img_logoLogin {
    width: 100%;
    height: auto;
    margin: 20px auto;
}


#btn_logar {
    display: block;
    position: relative;
    width: 130px;
    margin: 0 auto;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    font-size: 0.9em;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #ffee0a;
    box-shadow: 2px 2px 2px rgb(71, 71, 71);
    cursor: pointer;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

#btn_logar:hover {
    box-shadow: 1px 1px 1px rgb(71, 71, 71);
    background-color: #beb207;
}


#acesso {
    color: red;
    display: none;
    font-size: 1em;
    font-weight: 900;
    background-color: transparent;
    margin: 10px auto;
    text-align: center;
}


#fora {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2em;
    color: red;
    top: 50%;
    left: 50%;
    z-index: 100000000000000;
    background-color: rgb(216, 216, 216);
    transform: translate(-50%, -50%);
}

#mascara_conteudo {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;     
    justify-content: center;
}

.cl_div_menu {
    display: flex;
    flex-direction: column;   
    gap: 10px;                
    align-items: center; 
    background: #ffffff;
}


.cl_a_abrirPlanilha {
    display: block;
    margin: 10px;
    width: auto;
    height: auto;
    cursor: pointer;
    position: relative;
    padding: 15px 30px;
    font-size: 1.1em;
    font-weight: 900;
    color: #000000;
    background-color: #ffee0a;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.cl_a_abrirPlanilha:hover {
      background: #6fcf00;
}